@page "/"

<PageTitle>Home</PageTitle>

<div style="display:flex; justify-content:center;">
    <img style="height: 450px; width: 450px;" 
         src="https://camo.githubusercontent.com/e587686b914c8dc6b591f907133ead74a787cde6679df6c080a41117952a6062/68747470733a2f2f62616c7461696f2e626c6f622e636f72652e77696e646f77732e6e65742f74656d702f6361726e61636f64652d62616467652d6465736166696f2d30322e706e67" />
</div>
