@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*variaveis*/
:root {
    --cor-gray01: #E8E8E8;
    --cor-gray02: #BDBDBD;
    --cor-gray03: #F6F6F6;
    --cor-button: #45fefe;
    --cor-hover: #ceeeee;
    --cor-body: #F5F5F5;

    --font-primaria: 'Inter', sans-serif;
    --color-font: #000000;
}