@page "/results/ideal"



<link rel="stylesheet" href="ResultIdealWeight.razor.css" />



<body>
    <div class="container-peso-ideal">
        <div class="logo-imc">
            <div class="logo">
                <img src="./icon.png" alt="logoIMC">
            </div>
        </div>
        <div class="card">

            <div class="card-body">


                <div class="result-page">
                    <h2>✅ Parabéns!</h2>
                    <p>Você está no peso ideal, continue mantendo este estilo!</p>

                    <div class="btn-group">
                        <button class="btn " @onclick="ImcCalculator">Registrar medidas</button>
                        <button class="btn" @onclick="HistoryResult">Ver meu histórico</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@code {
    private void ImcCalculator()
    {
        //cria logica pra ir pra pagina de calculo

    }

    private void HistoryResult()
    {
        //cria logica pra ir pra pagina de RESULTADO
    }
}

